.slider-section {
    margin: 50px 0;
}

.slider-container {
    max-width: 1200px;
    height: 375px;
    margin: 50px auto;
    position: relative;
}

.slider-image {
    height: 100%;
    width: 100%;
    background-image: url('../img/blog/1.webp');
    background-position: center center;
    background-size: cover;
}

.slider-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 30%;
    opacity: 0;
    transition: opacity 35ms ease-in-out;
}

.slider-arrow.left {
    left: 0;
    background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(0,212,255,0) 100%);
}

.slider-arrow.right {
    right: 0;
    background: linear-gradient(-90deg, rgba(0,18,36,1) 0%, rgba(0,212,255,0) 100%);
}

.slider-container:hover .slider-arrow {
    opacity: 1;
}

.carousel {
    max-width: 1200px;
    margin: 50px auto;
}
.carousel-indicators {
    list-style: none; /* Убирает нумерацию */
    padding: 0; /* Убирает внутренний отступ */
    margin: 0; /* Убирает внешний отступ */
}

.custom-container {
    max-width: 800px;
    margin: 0 auto; /* Центрирует контейнер */
}
.col:nth-child(1) .btn-outline-primary {
    color: #FF5733; /* Цвет текста кнопки */
    border-color: #FF5733; /* Цвет обводки кнопки */
}
.col:nth-child(1) .btn-outline-primary:hover {
    background-color: #FF5733; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

/* Вторая колонка */
.col:nth-child(2) .btn-primary {
    background-color: #33A1FF; /* Цвет кнопки */
    border-color: #33A1FF; /* Цвет обводки кнопки */
}
.col:nth-child(2) .btn-primary:hover {
    background-color: #007ACC; /* Цвет кнопки при наведении */
    border-color: #007ACC; /* Цвет обводки при наведении */
}

/* Третья колонка */
.col:nth-child(3) .card-header {
    background-color: #6C33FF; /* Цвет заголовка */
    border-color: #6C33FF; /* Цвет обводки заголовка */
}
.col:nth-child(3) .btn-primary {
    background-color: #6C33FF; /* Цвет кнопки */
    border-color: #6C33FF; /* Цвет обводки кнопки */
}
.col:nth-child(3) .btn-primary:hover {
    background-color: #4B0099; /* Цвет кнопки при наведении */
    border-color: #4B0099; /* Цвет обводки при наведении */
}

